/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--hind);
}

:root {
  /* font-family */
  --hind: "Hind", sans-serif;
  --poppins: "Poppins", sans-serif;
  /* color */
  --basic: #ffffff;
  --dark: #1d1d1d;
  --general: #898989;
  --primary: #0e922f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins);
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

.mark {
  color: var(--primary);
}

/* === NAV === */

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--basic);
  padding: 1em 0;
}

nav a {
  color: var(--dark);
}

/* === END NAV === */

/* === SECTION DETAIL VILLA === */

#detail-villa {
  margin-bottom: 2em;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  overflow: hidden;
}

.slider-photo {
  width: 100%;
  height: 500px;
  background-color: var(--primary);
}

.slider .cta-nav {
  position: absolute;
  bottom: 0;
}

.img-preview {
  height: 400px;
  background-color: var(--primary);
  overflow: hidden;
  position: relative;
}

.img-preview::after {
  content: "Lihat Foto Lainnya ++";
  color: var(--basic);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.img-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.villa-detail {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  margin-top: 2em;
}

.calender .circle-span {
  display: block;
  width: 30px;
  height: 30px;
  background-color: green;
}

.calender .book-stat {
  margin: 1em 0;
}

.calender .book-stat li {
  justify-content: flex-start;
  gap: 10px;
}

.calender iframe {
  width: 100%;
  height: 300px;
}

.villa-desc figcaption {
  margin: 1em 0;
}

.villa-desc figcaption p {
  color: var(--general);
}

.description {
  text-align: justify;
}

.facilities ul {
  margin-top: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  list-style: none;
}

.facilities ul li {
  justify-content: flex-start;
  gap: 5px;
  color: var(--general);
}

.guider .col {
  justify-content: flex-start;
  gap: 10px;
}

.order-section {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

.order-section ul {
  margin-top: 1em;
  list-style: none;
}

.booking-form {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  margin-top: 1em;
}

.date-ev,
.downpayment {
  width: 100%;
  gap: 1em;
}

.date-ev figcaption,
.downpayment figcaption {
  width: 100%;
}

.booking-form input {
  width: 100%;
  padding: 0.8em;
}

.rules ul li {
  padding: 0.8em 0.5em;
  font-size: 0.8rem;
}

.rules ul li:nth-child(odd) {
  background-color: #c1ffd0;
  color: var(--dark);
}

.rules .col:first-child {
  margin-bottom: 1.5em;
}

#bookNow {
  padding: 0.7em;
  font-size: 1.1rem;
  background-color: var(--dark);
  color: var(--basic);
  border: none;
}

/* === END SECTION DETAIL VILLA === */

/* === SIMILAR VILLA === */

#similar {
  padding: 1em 0;
}

#similar .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  margin-top: 1em;
}

#similar .card-room {
  overflow: hidden;
  display: block;
}

#similar .card-room img {
  object-fit: cover;
  width: 100%;
}

/* === END SIMILAR VILLA === */

/* === FOOTER === */
footer {
  text-align: center;
  color: var(--basic);
  padding: 1em 0;
  background-color: var(--primary);
}
/* === END FOOTER === */
