/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--hind);
}

:root {
  /* font-family */
  --hind: "Hind", sans-serif;
  --poppins: "Poppins", sans-serif;
  /* color */
  --basic: #ffffff;
  --dark: #1d1d1d;
  --general: #b0b0b0;
  --primary: #0e922f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins);
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

.mark {
  color: var(--primary);
}

.active {
  background-color: var(--dark);
  color: var(--basic);
  border: 1px solid var(--dark);
  font-weight: 600;
}

/* === NAV === */

nav {
  padding: 1em 0;
  position: sticky;
  top: 0;
  z-index: 5;
  border-bottom: 0.5px solid #dedede;
  background-color: var(--basic);
}

nav a {
  color: var(--dark);
}

#btnMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: none;
}

.navigator {
  position: absolute;
  top: 58px;
  right: 5%;
  background-color: var(--basic);
  border: 1px solid var(--general);
  border-radius: 10px;
  overflow: hidden;
  transform-origin: top right;
  transition: 0.3s ease-in-out;
  transform: translateY(-10px);
  opacity: 0;
}

.navigator.showUp {
  transform: translateY(0);
  opacity: 1;
}

.navigator ul {
  list-style: none;
}

.navigator ul li {
  padding: 1em;
}

.navigator ul li:hover {
  background-color: var(--general);
  color: var(--basic);
}

/* === END NAV === */

/* === FILTER ==== */

#filter {
  padding: 1em 0;
  /* text-align: center; */
  position: sticky;
  top: 55px;
  z-index: 1;
  background-color: var(--basic);
}

#filter ul {
  width: 100%;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  justify-content: flex-start;
  gap: 1em;
}

#filter ul::-webkit-scrollbar {
  display: none;
}

.filter-villa {
  gap: 1em;
  margin-top: 1em;
}

.filter-villa ul {
  justify-content: flex-start;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.filter-villa ul::-webkit-scrollbar {
  display: none;
}

.filter-villa ul li {
  flex: 0 0 100px;
  padding: 5px 0;
  text-align: center;
  border: 1px solid var(--general);
  border-radius: 5px;
}

.filter-villa ul li.active {
  background-color: var(--dark);
  font-weight: 600;
  color: var(--basic);
}

/* === END FILTER ==== */

/* === MAIN ==== */

main {
  position: relative;
  padding: 1em 0;
}

main a {
  color: var(--dark);
  display: block;
}

main .row {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2em;
}

main .card-rooms .img {
  display: block;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 0.4em;
  background-color: var(--primary);
  overflow: hidden;
}

main .card-rooms img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-rooms .loc {
  justify-content: flex-start;
  gap: 4px;
}

/* === END MAIN ==== */
